$primaryColor: #ED1164;
$secondaryColor: #91A3AD;
##corrigindo cor
$lightGreyColor: #FFEBF2;
$lightGreyColorWithOppacity: #FFEBF280;
$mediumGreyColor: #91A3AD;
$darkGreyColor: #575757;
$errorColor: #ED421C;
